@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:100,300,500,700);
/* line 4, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_reset.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 6, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 7, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 8, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 9, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_reset.scss */
q, blockquote {
  quotes: none; }

/* line 10, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

/* line 11, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_reset.scss */
a img {
  border: none; }

/* line 12, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 18, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_reset.scss */
button, input {
  line-height: normal; }

/* line 19, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/* line 20, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible; }

/* line 21, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 22, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* ::Clearfixs and extends. Use which suits best */
/* ----------------------------------------------------------- */
/* line 41, /Users/twer/workspace/p2_newsletter/source/stylesheets/screen.scss */
.clearfix, .container, section {
  overflow: hidden;
  *zoom: 1; }

/* line 45, /Users/twer/workspace/p2_newsletter/source/stylesheets/screen.scss */
.pie-clearfix {
  *zoom: 1; }
  /* line 38, /Users/twer/.rvm/gems/ruby-2.0.0-p247@vog/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .pie-clearfix:after {
    content: "";
    display: table;
    clear: both; }

/* line 52, /Users/twer/workspace/p2_newsletter/source/stylesheets/screen.scss */
.max-width {
  max-width: 100%;
  height: auto; }

/* ::Base styles Almost exclusively single element selectors */
/* ------------------------------------------------------------ */
/* line 59, /Users/twer/workspace/p2_newsletter/source/stylesheets/screen.scss */
html {
  font-size: 100%; }

/* line 63, /Users/twer/workspace/p2_newsletter/source/stylesheets/screen.scss */
body {
  color: #666666;
  font-family: Helvetica, Arial, sans-serif; }

/* line 68, /Users/twer/workspace/p2_newsletter/source/stylesheets/screen.scss */
a {
  color: #666666;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word; }
  /* line 71, /Users/twer/workspace/p2_newsletter/source/stylesheets/screen.scss */
  a:hover, a:focus, a:active {
    color: #222222; }

/* line 14, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_typography.scss */
h1 {
  font-size: 1.875em;
  line-height: 1.33333em;
  margin: 0.53333em 0 0.53333em 0; }

/* line 19, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_typography.scss */
h2 {
  font-size: 1.5em;
  line-height: 1.33333em;
  margin: 1.33333em 0 0.66667em 0; }

/* line 24, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_typography.scss */
h3 {
  font-size: 1.125em;
  line-height: 1.33333em;
  margin: 0.88889em 0 0.88889em 0; }

/* line 29, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_typography.scss */
h4 {
  font-size: 0.875em;
  line-height: 1.71429em;
  margin: 0 0 0.57143em 0; }

/* line 34, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_typography.scss */
h5 {
  font-size: 0.75em;
  line-height: 1.33333em;
  margin: 0 0 0.66667em 0; }

/* line 39, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_typography.scss */
h6 {
  font-size: 0.625em;
  line-height: 1.6em;
  margin: 0 0 0.8em 0; }

/* line 43, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_typography.scss */
p, pre, label {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 1em 0; }

/* line 48, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_typography.scss */
ol, ul {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 2em 0; }

/* line 53, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_typography.scss */
li {
  line-height: auto; }

/* line 59, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_typography.scss */
ul {
  list-style-position: outside;
  list-style-type: disc; }

/* line 60, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_typography.scss */
ol {
  list-style-position: outside;
  list-style-type: decimal; }

/* line 61, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_typography.scss */
strong, b {
  font-weight: 600; }

/* line 62, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_typography.scss */
em, i, q {
  font-style: italic; }

/* line 64, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_typography.scss */
blockquote {
  border-left: none;
  line-height: normal;
  margin: 0;
  color: #222222;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -column-break-inside: avoid; }
  /* line 72, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_typography.scss */
  blockquote p {
    font-family: "Roboto Slab", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", serif;
    font-style: italic;
    margin: 0;
    font-size: 1.375em;
    line-height: 1.45455em;
    margin: 1.2em 0 1.2em 0; }

/* line 8, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_forms.scss */
label, select {
  display: block; }

/* line 12, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_forms.scss */
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-appearance: textfield;
  box-sizing: content-box; }

/* line 20, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_forms.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/* line 24, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_forms.scss */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 42, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_forms.scss */
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"] {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s; }

/* line 53, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_forms.scss */
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer; }

/* line 67, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_forms.scss */
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto; }

/* line 72, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_forms.scss */
select,
input[type="file"] {
  *margin-top: 4px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */ }

/* line 79, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_forms.scss */
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

/* ::Layout styles - Layouts hold one or more modules together. */
/* ------------------------------------------------------------ */
/* line 4, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
.container {
  margin: 0 auto;
  width: 95%; }

/* line 10, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
ol {
  list-style-position: inside;
  list-style-type: decimal; }

/* line 11, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
ul {
  list-style-position: inside;
  list-style-type: disc; }

/* line 12, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
h1, h2, h3 {
  font-weight: 300;
  color: #000; }

/* line 16, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
body {
  font-family: "Open Sans", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  margin: 0.5em 0.6875em 1.375em 0.6875em;
  font-weight: 300; }
  /* line 21, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  body b, body strong {
    font-weight: 700; }
  /* line 24, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  body bi {
    font-weight: 700;
    font-style: italic; }

/* line 29, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
.cover {
  -webkit-transition: width 500ms ease-in-out;
  -moz-transition: width 500ms ease-in-out;
  -ms-transition: width 500ms ease-in-out;
  -o-transition: width 500ms ease-in-out;
  transition: width 500ms ease-in-out;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-clip: cover;
  position: fixed;
  height: 100%;
  width: 0;
  margin-left: -12080px; }

/* line 42, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
.issue-notes {
  border-bottom: 1px #e6e6e6 solid; }

/* line 45, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
.issues {
  background: white;
  padding: 32px 0 0 0; }
  /* line 49, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  .issues ul {
    border-bottom: 1px #e6e6e6 solid;
    margin: 0;
    padding: 10px 0; }
    /* line 54, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
    .issues ul li {
      display: inline; }
      /* line 58, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
      .issues ul li a {
        text-transform: uppercase;
        text-decoration: none;
        -webkit-transition: color 200ms ease;
        -moz-transition: color 200ms ease;
        -ms-transition: color 200ms ease;
        -o-transition: color 200ms ease;
        transition: color 200ms ease;
        color: #bbbbbb;
        font-weight: 700; }
        /* line 65, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
        .issues ul li a:hover {
          color: #00cc88; }

/* line 75, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
.table-of-contents article {
  margin: 0.9375em 0;
  border-bottom: 1px #e6e6e6 solid;
  text-align: center; }
/* line 81, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
.table-of-contents .author-avatar {
  float: none;
  max-width: 3em; }
/* line 85, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
.table-of-contents .article-number {
  font-family: "Roboto Slab", serif;
  font-style: italic;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 0.75em;
  color: #ccc; }
/* line 96, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
.table-of-contents .summary {
  display: block;
  padding: 0px 0 8px 0; }
  /* line 101, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  .table-of-contents .summary h3, .table-of-contents .summary p {
    font-size: 12px;
    margin: 0.33333em 0 0.33333em 0; }
    /* line 106, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
    .table-of-contents .summary h3 .title, .table-of-contents .summary p .title {
      text-transform: uppercase; }
    /* line 110, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
    .table-of-contents .summary h3 .author, .table-of-contents .summary p .author {
      color: #bbb; }
    /* line 114, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
    .table-of-contents .summary h3 a, .table-of-contents .summary p a {
      text-decoration: none; }

/* line 122, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
.left-column {
  margin: 0 0 1.25em 0;
  text-align: center; }
  /* line 126, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  .left-column .author {
    padding: 0.625em;
    margin: 0; }
  /* line 130, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  .left-column .author-avatar {
    max-width: 7em; }

/* line 134, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
.author-avatar {
  background-color: whitesmoke;
  -webkit-mask-image: url(../img/circle-img-mask.png);
  -webkit-mask-size: 100% 100%; }

/* line 139, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
article header {
  border-bottom: 1px #e6e6e6 solid;
  margin-bottom: 1.25em; }

/* line 144, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
article footer {
  border-top: 1px #e6e6e6 solid;
  margin-top: 0.625em;
  padding-top: 1.25em;
  text-align: center; }
  /* line 150, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  article footer img {
    width: 2em;
    margin-right: 0.75em;
    vertical-align: middle; }

/* line 157, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
article .byline {
  font-size: 12px;
  text-transform: uppercase;
  color: #bbb; }

/* line 163, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
.paginate {
  opacity: 1;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; }
  /* line 167, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  .paginate a {
    background-color: rgba(0, 0, 0, 0.15);
    color: #fff;
    font-size: 32px;
    width: 72px;
    line-height: 72px;
    text-align: center;
    text-decoration: none;
    position: fixed;
    top: 50%;
    margin-top: -32px;
    -webkit-border-radius: 64px 64px 64px 64px;
    -moz-border-radius: 64px 64px 64px 64px;
    border-radius: 64px 64px 64px 64px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; }
    /* line 181, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
    .paginate a.prev {
      left: 0;
      margin-left: 30px;
      padding-right: 4px; }
    /* line 186, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
    .paginate a.next {
      right: 0;
      margin-right: 30px;
      padding-left: 4px; }
    /* line 191, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
    .paginate a:hover {
      background-color: #00cc88; }
      /* line 195, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
      .paginate a:hover.prev {
        left: 10px; }
      /* line 198, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
      .paginate a:hover.next {
        right: 10px; }

/* line 204, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
.pull-right {
  float: right; }

/* line 207, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
.pull-left {
  float: left; }

/* line 211, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
.logo {
  position: fixed;
  top: 100px;
  left: 10px;
  color: #fff;
  /*z-index: 1;*/
  padding: 0; }
  /* line 219, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  .logo .subtitle {
    font-size: 2.5em;
    margin: 0; }
  /* line 224, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  .logo #corp {
    font-size: 1.79em;
    margin: 0;
    text-align: center; }
  /* line 230, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  .logo .the {
    position: absolute;
    left: 2.8em;
    top: -0.25em;
    font-size: 1.5em; }
  /* line 237, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  .logo .of {
    font-size: 1.5em;
    margin-left: 5px; }
  /* line 242, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  .logo .title {
    font-size: 5.5em;
    font-weight: bold;
    display: inline;
    color: #fff;
    line-height: 1em; }

/* line 251, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
.gist {
  font-size: 0.8em; }

/* line 255, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
pre.line-pre {
  white-space: normal !important; }

/* line 260, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
div.normal-gist pre.line-pre {
  white-space: pre !important; }

/* line 265, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
.gist-meta {
  display: none; }

/* line 269, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
footer {
  display: none; }

/* line 273, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
.snippet {
  font-size: 0.8em;
  margin-left: 2em;
  display: inline-block; }

/* line 279, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
.computer {
  font-family: "courier new"; }

/* line 283, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
.inline-code {
  font-family: 'courier new';
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0px 5px;
  margin: 0 2px;
  border-radius: 3px; }

/* ::Media queries */
/* ------------------------------------------------------------ */
@media screen and (max-width: 47.9375em) {
  /* line 302, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  .logo {
    position: static;
    top: 0;
    left: 0;
    text-align: left;
    display: none; }

  /* line 309, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  #title {
    color: #bbb;
    font-size: 2em;
    display: inline-block;
    line-height: 1.0em;
    padding-bottom: 0; }

  /* line 316, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  #subtitle {
    color: #bbb;
    font-size: 2em;
    display: inline-block;
    line-height: 1.0em; }

  /* line 322, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  #corp {
    color: #bbb;
    font-size: 1em;
    line-height: 1.0em;
    text-align: left; }

  /* line 328, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  #start-reading {
    display: none; } }
@media screen and (min-width: 30em) {
  /* line 334, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  .container {
    width: 80%; } }
@media screen and (min-width: 47.9375em) {
  /* line 342, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  #bottom-pages {
    display: block; }

  /* line 346, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  body {
    margin: 0 0.6875em 1.375em 0.6875em; }

  /* line 349, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  .container {
    min-width: 36.625em; }

  /* line 352, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  .page {
    margin-left: 11.875em; }

  /* line 355, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  .table-of-contents {
    margin-left: 11.875em; }
    /* line 357, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
    .table-of-contents article {
      position: relative;
      text-align: left; }
    /* line 361, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
    .table-of-contents .summary {
      margin-left: 2.25em; }
    /* line 367, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
    .table-of-contents .author-avatar {
      display: none;
      position: absolute;
      right: 0;
      top: 50%;
      width: 100%;
      margin-top: -2.25em; }

  /* line 377, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  .cover {
    width: 12044px; }

  /* line 380, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  .left-column {
    max-width: 11.875em;
    margin: 3.375em 0 0 -11.875em;
    position: fixed;
    top: 0;
    text-align: center; }
    /* line 387, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
    .left-column .author-avatar {
      width: 100%;
      max-width: 9.25em;
      text-align: center;
      margin-bottom: 1.25em;
      margin-right: 0; }

  /* line 395, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  h1 {
    font-size: 2.375em;
    line-height: 1.26316em;
    margin: 0.42105em 0 0.42105em 0; }

  /* line 400, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  h2 {
    font-size: 1.875em;
    line-height: 1.33333em;
    margin: 1.06667em 0 0.53333em 0; }

  /* line 405, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  h3 {
    font-size: 1.375em;
    line-height: 1.45455em;
    margin: 0.72727em 0 0.72727em 0; }

  /* line 410, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  h4 {
    font-size: 1.25em;
    line-height: 1.2em;
    margin: 0 0 0.4em 0; }

  /* line 415, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  h5 {
    font-size: 1.125em;
    line-height: 1.33333em;
    margin: 0 0 0.44444em 0; }

  /* line 420, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  h6 {
    font-size: 1em;
    line-height: 1.5em;
    margin: 0 0 0.5em 0; }

  /* line 424, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  article footer a img {
    opacity: 0.2;
    width: 2em;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; }
    /* line 430, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
    article footer a img:hover {
      opacity: 1;
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      -o-filter: grayscale(0%);
      filter: grayscale(0%); } }
@media screen and (min-width: 64em) {
  /* line 439, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  .container {
    width: 48em; }

  /* line 442, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  .paginate {
    opacity: 1; }
    /* line 444, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
    .paginate a {
      position: fixed; } }
/* line 449, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
#bottom-pages {
  display: none; }

@media screen and (max-width: 64em) {
  /* line 455, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  .paginate a {
    position: absolute;
    top: 40px;
    line-height: 36px;
    width: 36px;
    font-size: 18px; }
    /* line 461, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
    .paginate a.prev {
      left: 0;
      margin-left: 20px;
      padding-right: 4px; }
    /* line 466, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
    .paginate a.next {
      right: 0;
      margin-right: 20px;
      padding-left: 4px; }
    /* line 471, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
    .paginate a:hover {
      background-color: #00cc88; }
      /* line 475, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
      .paginate a:hover.prev {
        left: 0; }
      /* line 478, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
      .paginate a:hover.next {
        right: 0; }

  /* line 484, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  #bottom-pages {
    margin-top: -110px;
    display: block; }
    /* line 487, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
    #bottom-pages .paginate {
      text-align: center; }
      /* line 489, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
      #bottom-pages .paginate a {
        position: inherit;
        font-size: 18px;
        line-height: 36px;
        width: 36px; }
        /* line 494, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
        #bottom-pages .paginate a.prev {
          float: left; }
        /* line 497, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
        #bottom-pages .paginate a.next {
          float: right; } }
@media print {
  @page {
    margin: 6.25em; }

  /* line 510, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  body {
    line-height: 1em; }

  /* line 513, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  .left-column {
    max-width: 10em;
    margin-right: 3em;
    position: fixed;
    border-bottom: none;
    margin-bottom: 0; }

  /* line 520, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  .page {
    margin-top: 3em;
    margin-left: 10em; }

  /* line 524, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
  article footer {
    display: none; } }
@media screen and (max-width: 769px) {
  -webkit-text-size-adjust: none; }
/* ::State styles */
/* ------------------------------------------------------------ */
/* line 539, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
.is-hidden {
  display: none; }

/* line 543, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
.is-shown, .is-block {
  display: block; }

/* line 547, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
.is-uppercase {
  text-transform: uppercase;
  letter-spacing: 1px; }

/* line 552, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
.is-lowercase {
  text-transform: lowercase; }

/* ::Debugs and #grid by Jon Gibbins */
/* ----------------------------------------------------------- */
/* line 560, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
#grid {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

/* line 567, /Users/twer/workspace/p2_newsletter/source/stylesheets/libs/_custom.scss */
#grid div.horiz {
  height: 8px;
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 0; }
