<% content_for :description do %>
ThoughtWorks有三根支柱（Three Pillars），其中，P2是追求软件卓越. 我们知道，真正吸引很多人加盟ThoughtWorks的是P2, 我们知道，每个ThoughtWorks办公室都有一群对技术有追求的人, 我们希望，把ThoughtWorks中国建设成为Geek的天堂, 我们不希望，这些Geek的声音遭到埋没,我们将定期呈现找到的ThoughtWorker好声音。
<% end %>

<% content_for :title do %>
  The Voice Of ThoughtWorkers
<% end %>

<nav class="paginate">
    <a rel="next" href="<%= blog.articles.first.url %>" class="next">▶</a>
</nav>

<div class="container">
  <section class="table-of-contents">
    <header class="cover">
      <img style="width:100%; height: 100%"/>
    </header>
  <div class="logo">
    <span class="the">the</span>
    <h1 class="title">Voice</h1>
    <span class="of">of</span>
    <h4 class="subtitle"><strong>Thought</strong>Workers</h4>
  </div>
    <nav class="issues">
      <ul class="clearfix">
        <li class="active"><a href="#">The Voice Of ThoughtWorkers</a>
        <!-- <li class="pull-right"><a href="#">Older Issues</a>-->
        <li id="start-reading" class="pull-right"><a href="<%= blog.articles.first.url %>">开始阅读 &raquo;</a></li>
      </ul>
    </nav>
    <section class="issue-notes">
      <h1>编者寄语</h1>
      <p>ThoughtWorks有三根支柱（Three Pillars），其中P2是追求软件卓越</p>
      <p>我们知道，真正吸引很多人加盟ThoughtWorks的是P2</p>
      <p>我们知道，每个ThoughtWorks办公室都有一群对技术有追求的人</p>
      <p>我们希望，把ThoughtWorks China建设成为Geek的天堂</p>
      <p>我们不希望，这些Geek的声音遭到埋没</p>
      <p>我们将定期呈现找到的ThoughtWorkers好声音</p>
      <p>当然，我们希望听到您的<a href="https://jinshuju.net/f/n0mD0y" target="blank">建议</a></p>
      <br>
    </section>
    <section class="issue-notes">
      <h3><a href="<%= blog.articles.first.url %>">开始阅读 &raquo;</a></h3>
    </section>

    <section class="about-us">
      <div class="social-links">
          <a href="http://e.weibo.com/thoughtworkschina" title="ThoughtWorks官方微博"><img src="images/weibo.png" width="50"></a>
          <a href="http://www.thoughtworks.com/cn/"><img src="images/tw-logo.png" width="250"></a>
          <!-- <a href="#" title="公众账号"><img src="images/weixin.png" width="150"></a> -->
          <!-- <a href="#" title="公众账号"><img src="images/we-are.png" width="150"></a> -->
      </div>
    </section>

  </section>
</div>

