<!doctype html>
<html lang="en">
  	<%= partial "/partials/head" %>
	<body class="wrapper">
		<div id="main" role="main">
			<%= yield %>
		</div>
		<%= partial "/partials/footer" %>
	</body>
</html>

